APP_NAME=Resort VIP Admin API
APP_ENV=local

DB_SERVER=localhost
DB_NAME=ResortVipAdminDB
DB_USER=change_this_db_user
DB_PASSWORD=change_this_db_password
DB_DRIVER=ODBC Driver 17 for SQL Server

FRONTEND_ORIGIN=http://localhost:5173

JWT_SECRET_KEY=change_this_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60