APP_NAME=Resort VIP Admin API
APP_ENV=local

DB_SERVER=host.docker.internal
DB_NAME=ResortVipAdminDB
DB_USER=change_this_db_user
DB_PASSWORD=change_this_db_password
DB_DRIVER=ODBC Driver 18 for SQL Server

FRONTEND_ORIGIN=http://localhost:5173

JWT_SECRET_KEY=change_this_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

VECTOR_DB_DIR=/vector_db/resort_knowledge_faiss

# huggingface / azure
EMBEDDING_PROVIDER=huggingface

# HuggingFace
HF_EMBEDDING_MODEL_NAME=BAAI/bge-m3
HF_DEVICE=cpu

# Azure OpenAI Embeddings
AZURE_OPENAI_EMBEDDING_MODEL=text-embedding-3-small
AZURE_OPENAI_BASE_URL=change_this_azure_openai_base_url
AZURE_OPENAI_API_KEY=change_this_azure_openai_api_key

AI_PROVIDER=lmstudio

# LM STUDIO
LMSTUDIO_MODEL_NAME=gemma-4-26b-a4b-it
LMSTUDIO_BASE_URL=http://host.docker.internal:1234/v1
LMSTUDIO_API_KEY=lm-studio

# Gemini
GEMINI_API_KEY=change_this_gemini_api_key
GEMINI_MODEL_NAME=gemini-3.5-flash

# Azure
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-5.1

# Ollama
OLLAMA_MODEL_NAME=gemma4:e4b
OLLAMA_BASE_URL=http://host.docker.internal:11434

# VIP Frontend URL
VIP_FRONTEND_URL=http://localhost:5174